<p id="notice"><%= notice %></p>

<p>
  <b>Answer:</b>
  <%= @application_question_answer.answer %>
</p>


<%= link_to 'Edit', edit_application_question_answer_path(@application_question_answer) %> |
<%= link_to 'Back', application_question_answers_path %>
