<h2>Listing Videos</h2>
<% if !@videos.empty? %>
  <h3>Video Player</h3>
  <%= render :partial => "video_player", :locals => { :videos => @videos } %>
  <h3>Video List</h3>
  <%= render :partial => "list_video", :locals => { :videos => @videos, :parent => parent } %>
<% else %>
  <%= link_to 'New Video', new_polymorphic_path([parent, Video]) %>
<% end %>

