
#audition_container #second_step, #third_step, #fourth_step { display: none; }
#audition_container #first_step { display: block; }

#audition_container textarea {
    width: 350px;
    color: #888;
    border: 1px solid #ccc;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#audition_container .role, #audition_container .audition_admin {
  margin-right: 70px;
  border-bottom-style: inset;
  border-bottom-color: grey;
  padding: 10px 0;
}

//Form input field remove button
.remove_field {
  float:right;
}
