// Place all the styles related to the Auditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.role_fields {
  border-width: 2px;
  border-style: solid;
  width: 20%;
}