<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @role_question.question %>
</p>


<%= link_to 'Edit', edit_role_question_path(@role_question) %> |
<%= link_to 'Back', role_questions_path %>
